@import "shared"

html
    box-sizing border-box
    font-family 'Open Sans', 'Helvetica', sans-serif
    font-size 18px

*, *::before, *::after
    box-sizing inherit

h1, h2, h3, h4, h5, h6
    font-weight normal
    line-height 1.2

p, ul, ol
    line-height phi

article
    max-width 55ch

img, video
    max-width 100%
    height auto

hr
    border none
    border-top 1px solid decor-color

a
    text-decoration none

body
    background body-color
    color text-color
    margin 0
    padding 0

button
    all unset

button, .input-file
    text-align center

input, button, .select
    border 1px solid decor-color
    border-radius r1

button, select, .input-file
    background body-color

    &:hover
        background hover-color

    &:active
        background active-color


input
    word-wrap break-word
    word-break break-all

button, select, input
    margin 0
    padding u2 u3

button, select, input, .select, .input-radio, .input-checkbox, .input-file
    max-height 32px
    white-space nowrap
    font-size s1
    color text-color
    cursor pointer

select
    outline none
    border none
    appearance none
    background none
    min-width 15ch
    max-width 30ch

.select
    white-space nowrap
    display inline-block
    max-width 100%
    align-items center

.select:after
    content '\1F863'
    padding-right 1ch

label.input-radio, label.input-checkbox
    padding u2 0
    display inline-flex
    justify-items space-between
    align-items center

    input
        margin-right 0.5ch
    
label.input-file
    input
        position absolute
        width 1px
        opacity 0


    border 1px solid decor-color
    border-radius r1
    display inline-block
    font-size s1
    padding u2 u3

table
    border-collapse collapse
    width 100%

tr
    height 40px
    &:not(:last-of-type)
        border-bottom 1px solid decor-color

th, td
    padding u2 u3
    text-align left
    vertical-align center
    font-size 15px

td button
    font-size 13px
    padding u1 u2

tr:nth-child(even)
    background #f8f8f8

@media (prefers-color-scheme: dark)
    hr
        border-color decor-color-dark

    body
        color text-color-dark
        background body-color-dark

    a:link
        color link-color-dark

    a:visited
        color visited-color-dark
